html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}


/* button default */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1em;
}

body.dark-mode .navbar .navbar-nav .nav-link {
    color: #ffffff;
}

nav ul:hover li a {
    opacity: 0.5;
    filter: none;
}

nav ul li a:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: none;
    text-decoration: none;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

nav ul li {
    list-style: none;
}

#down-bar {
    color: black;
}

.iconcountry {
    height: 70px;
    width: 100px;
}

.iconcompetition {
    height: 150px;
    width: 250px;
}


.dropdown-item {
    transform: scale(1) !important;
    opacity: 1 !important;
    filter: blur(0) !important;
}

    .dropdown-item:hover {
        color: black;
        background-color: white;
    }

.page-link {
    color: white;
    background-color: gray;
}

.pagination > .active > a {
    color: black;
    background-color: white;
    border-color: #000000;
}

.pagination :hover {
    color: black;
}

/*Bottom-bar*/


.bottom-bar {
    background-color: black;
    color: white;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px;
}

    .bottom-bar .link {
        color: white;
        text-decoration: none;
    }

        .bottom-bar .link:hover {
            color: #f0f0f0;
            text-decoration: underline;
        }





body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark-mode {
    background-color: #343a40 !important;
}

.navbar-light-mode {
    background-color: #f8f9fa !important;
}






#themeToggle {
    transition: background-color 0.3s, color 0.3s;
}

    #themeToggle i {
        transition: color 0.3s;
    }

    #themeToggle:hover {
        background-color: #000;
        color: #fff;
    }

body.dark-mode #themeToggle:hover {
    background-color: #fff;
    color: #f39c12;
}








/* Para quando o modo escuro estiver ativo */
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    color: white; /* Texto branco */
}

body.dark-mode table {
    background-color: #121212; /* Cor de fundo da tabela escura */
}

/* Alteração do fundo das linhas (zebrado) */
body.dark-mode tr:nth-child(odd) {
    background-color: #333333; /* Fundo preto para linhas ímpares */
    color:white
}

body.dark-mode tr:nth-child(even) {
    background-color: #222222; /* Fundo cinza escuro para linhas pares */
    color:white
}

/* Estilo do cabeçalho da tabela */
body.dark-mode th {
    background-color: #1a1a1a; /* Fundo mais escuro para o cabeçalho */
    color: white;
}

/* Ícones e links */
body.dark-mode .btn-default,
body.dark-mode .btn-group-xs > .btn,
body.dark-mode .page-link {
    color: white; /* Cor branca para botões e links */
    background-color: #444444; /* Fundo cinza escuro para botões */
    border-color: #666666; /* Cor de borda mais clara para os botões */
}

    /* Alteração dos links e botões ao passar o mouse */
    body.dark-mode .btn-default:hover,
    body.dark-mode .page-link:hover {
        background-color: #555555; /* Cor de fundo mais clara ao passar o mouse */
        color: white;
    }

body.dark-mode .pagination .active a {
    color: black;
    background-color: white;
    border-color: #000;
}


/* Estilo padrão para o modo claro */
.tabela-dados {
    color: black; /* Texto preto */
    background-color: white; /* Fundo branco */
}

/* Estilo para o modo escuro */
body.dark-mode .tabela-dados {
    color: white; /* Texto branco */
    background-color: #333; /* Fundo escuro */
}
